deepeval
openai
tabulate
google-genai
pymupdf4llm
python-multipart
fastapi
uvicorn
structlog
psycopg[binary]
psycopg_pool
pydantic
httpx
tqdm
rich
python-dotenv
supabase
pydantic-settings
langchain-core
langchain
langchain-groq
langchain-google-genai
tenacity
dspy-ai
langchain-anthropic
langchain-openai
langchain-community
scikit-learn
numpy
networkx
